body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 100%;
}

.container {
  background-color: rgb(35, 117, 250);

  /* Full height */
  height: 100%;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#profile-card {
  display: flex;
  align-items: center;
  background-color: white;
  width: 40%;
  height: 90%;
  flex-direction: column;
  color: rgb(71, 71, 92);
}

#profile-pic {
  margin-top: 3rem;
  height: auto;
  width: 40%;
  border-radius:50%;
  order: 0;
}

#hello-section {
  font-family: 'Bungee', sans-serif;
  order: 1;
  margin-top: 1rem;
  border-bottom: 1px solid gray;
  font-size: 1.75em;
  line-height: 0.5em;
  text-align: center;
}

#about-section {
  order: 2;
  font-family: arial, sans-serif;
  font-weight: bold;
  width: 80%;
  margin-top: 1rem;
}

#contact-section {
  order: 3;
  background-color:rgb(235, 52, 146);
  color: white;
  width: 80%;
  text-align: center;
  border-radius: 25px;
  margin-top: 1rem;
}

#social-media-section {
  order: 4;
  margin-top: 1rem;
  text-align: center;
  width: 80%;
}

#social-media-img {
  width: 20%;
  height: auto;
}