{% extends "layout.html" %}
{% block body %}
<article class="about">
    <div class="content">
        <img src="static/resources/profile-pic.jpg">
        <p>I am a roboticist mainly focused on manipulation workcells at the moment.</p>
        <p>Checkout my linkedin to see what I'm up to.</p>
        <p><a href="mailto:gadouryjames@gmail.com">gadouryjames@gmail.com</a></p>
    </div>
    <div class="links-grid">
        <a href="https://github.com/jamesGadoury/" target="_blank">
            <img src="static/resources/Octocat/Octocat.jpg" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/james-gadoury-a623a513b/" target="_blank">
            <img src="static/resources/LI-In-Bug.png" alt="LinkedIn">
        </a>
        <a href="/vacuum-world-canvas" target="_blank">
            <img src="static/resources/vacuum.png" alt="Vacuum World">
        </a>
        <a href="/tic-tac-toe" target="_blank">
            <img src="static/resources/Tic_tac_toe.svg" alt="Tic Tac Toe">
        </a>
    </div>
</article>
{% endblock %}
